<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV - {{ cv[2] }} {{ cv[3] }}</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <script src="https://kit.fontawesome.com/98c42d1474.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Change password modal-->
    <div class="modal fade" tabindex="-1" id="hire-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body container p-5">
                    <h3 class="mb-3">¿Desea contratar a {{ cv[2] }} {{ cv[3] }}?</h3>
                    <p>El estudiante recibirá la notificación de que lo ha contratado.</p>
                    <div class="row m-0 mt-2 justify-content-end">
                        <div class="col-4 px-1">
                            <button type="submit" data-bs-dismiss="modal"
                                class="primary-button w-100">Contratar</button>
                        </div>
                        <div class="col-4 px-1">
                            <button type="button" data-bs-dismiss="modal"
                                class="tertiary-button w-100">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="container-fluid px-0 mb-3">
        <div id="subheader-1" class="row m-0 justify-content-between align-items-center">
            <div class="col-auto">
                <h3><span class="primary">First</span> Chance</h3>
            </div>
            <div class="col-auto">
                <nav>
                    <button class="icon-button" onclick="goHome()"><i class="fas fa-home"></i></button>
                    <button class="icon-button" onclick="goJobs()"><i class="fas fa-suitcase"></i></button>
                    <button class="icon-button" onclick="goChat()"><i class="fas fa-comment-alt"></i></button>
                    <button class="icon-button" onclick="goProfile()"><i class="fas fa-user-circle"></i></button>
                </nav>
            </div>
        </div>
        <div id="subheader-2" class="row m-0 justify-content-end">
            <div class="col-4">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <button class="input-group-text search-button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-0">
        <div class="row m-0 mb-4">
            <h2 class="mb-3">{{ cv[2] }} {{ cv[3] }} - Currículum Vitae</h2>
            <div class="col-2">
                <img src="{{ cv[1] }}" class="w-100">
            </div>
            <div class="col-10">
                <h3>{{ cv[2] }} {{ cv[3] }}</h3>
                <p class="mb-0"><i class="fa-solid fa-envelope profile-icon"></i>&nbsp;&nbsp;{{ cv[4] }}</p>
                <p class="mb-0"><i class="fa-solid fa-phone profile-icon"></i>&nbsp;&nbsp;{{ cv[5] }}</p>
                <p class="mb-0"><i class="fa-solid fa-globe profile-icon"></i>&nbsp;&nbsp;{{ cv[6] }}</p>
            </div>
        </div>
        <div class="row m-0 mb-4">
            <h4 class="cv-section text-center">Perfil</h4>
            <div class="col-12">
                <p class="card p-3 bg-light">{{ cv[7] }}</p>
            </div>
        </div>
        <div class="row m-0 mb-4">
            <h4 class="cv-section text-center">Educación</h4>
            {% for education in zip(cv[8], cv[9], cv[10]) %}
            <div class="row m-0 justify-content-between px-0">
                <h5><i class="fa-solid fa-graduation-cap"></i>&nbsp;{{ education[0] }} | {{ education[1] }}</h5>
                <p>{{ education[2] }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="row m-0 mb-4">
            <h4 class="cv-section text-center">Skills técnicas</h4>
            <div class="row m-0 gy-3">
                {% for skill in cv[11] %}
                <div class="col-4 ps-0">
                    <div class="card">
                        <div class="card-body">{{ skill }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row m-0 mb-4">
            <h4 class="cv-section text-center mb-3">Algunas cosas más sobre mí</h4>
            <div class="col-12">
                <table class="table table-bordered">
                    {% for extra in zip(cv[12], cv[13]) %}
                    <tr>
                        <th>
                            <h4 class="mb-0">{{ extra[0] }}</h4>
                        </th>
                        <td class="p-2">
                            <p class="mb-0 p-2">{{ extra[1] }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-4">
                <button onclick="hire()" class="primary-button w-100">Contratar</button>
            </div>
        </div>
    </div>

    <footer class="text-center">
        First Chance
    </footer>

    <script>
        function hire() {
            var myModal = new bootstrap.Modal(document.getElementById("hire-modal"));
            myModal.show();
        }

        // Redirections
        function goHome() { window.location.href = "/enterprise/"; }
        function goJobs() { window.location.href = "/enterprise/trabajos"; }
        function goChat() { window.location.href = "/enterprise/chat-index"; }
        function goProfile() { window.location.href = "/enterprise/perfil"; }
    </script>
</body>

</html>